@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,600,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600);

p, li {
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-top: 6rem;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ed2939;
    color: #ed2939;
}

header .title {
    margin: 1.4rem 0;
}

section.post {
    border-bottom: 1px solid #F5D0D3;
}

#old-colour {
    color: #eb1414;
}
