@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

/* Mobile first queries */
body {
    font-family: 'Roboto Slab', serif;
}

header, h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #ed2939;
    border-bottom: 1px dashed #bbb;
}

a:hover {
    color: #ed2939;
    border-bottom: 1px solid #ed2939;
}

a:active {
    color: #bbb;
    border-color: #bbb;
}

header.title {
    margin-top: 6rem;
    text-align: center;
    /*border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #ed2939;*/
    background-color: #ed2939;
    color: #eee;
}

header.title h1 {
    font-weight: bold;
    padding: 2rem 0;
}

.section {
    /*background-color: #eee;*/
    color: #ed2939;
    margin-bottom: 1.2rem;
    border-bottom: 4px solid #ed2939;
}

.projects .columns {
    padding: 0.8rem;

    text-align: center;
    background-color: #eee;
    color: #222;

    transition: all 0.2s;
}

.projects .columns:hover {
    background-color: #ed2939;
    color: #eee;
}

.projects .columns:active {
    background-color: #fff;
    color: #ed2939;
    transition: all 100ms;
}

.projects .columns > a {
    color: inherit;
    text-decoration: none;
}

.projects h2 {
    margin-bottom: 0.8rem;
}

.blog header {

}

.blog article {
    border-bottom: 1px solid #ed2939;
    margin-bottom: 2rem;
}

#old-colour {
    color: #eb1414;
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
    .section {
        padding: 0.8rem 1.4rem;
        border-bottom-width: 0;
        border-right: 4px solid #ed2939;
        text-align: right;
    }

    .section h1 {
        margin: 0rem;
        margin-bottom: 0.8rem;
    }

    .projects .row {
        overflow: hidden; /* see below */
    }

    .projects .columns {
        /* "one true layout" hack, see:
        http://css-tricks.com/fluid-width-equal-height-columns/ */
        margin-bottom: -500rem;
        padding-bottom: 500rem;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
